/*  CSS Demo Stylesheet  */
/* -------------Box Sizing------------- */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* ---------Glonal Styles-------- */
body{
    background-color:#FA0FBF;
}
body{
    font-family: "Roboto Condensed", serif;
}
header{
    
}